<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfm.sporting.sporting">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".Sporting"
            android:label="@string/title_activity_sporting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PebbleActivity" />

        <service
            android:name=".PebbleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BTActivity" />

        <service
            android:name=".PulsometroService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DeviceScanActivity" />

        <service
            android:name=".BluetoothService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".PlanesEntrenamientoActivity" />
        <activity android:name=".NuevoPlanEntrenamientoActivity"></activity>
    </application>

</manifest>